body,html{
    height:100%;
}
.heading--big {
    font-size: 4.5rem;
}
.subtitle--big {
    font-size: 2rem;
}
.hidden {
    display: none;
}
.variant--radio * {
    font-size: 1.75rem;
}
.variant--radio {
    margin-bottom: 15px;
}
.form-check-input {
    margin-top: .85rem;
}
.nav--buttons {
    margin-top: 40px;
}
.start-btn {
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
}

.step-final .subtitle--big {
    font-size: 2.5rem;
}

.lg-text {
    font-weight: 700;
}

@media screen and (max-height: 830px) {
    .h-100 {
        min-height: 830px;
        height: auto !important;
    }
}